<div class="control--select">
  <ul class="custom-scroll control--select--list">
      {% for v in fieldsNames %}
        <li data-value="{{ v.id }}" class="control--select--list--item {% if v.option == selected.option %}control--select--list--item-selected{% endif %}">
          <span class="control--select--list--item-inner" title="{{ v.option }}">{{ v.option }}</span>
        </li>
      {% endfor %}
  </ul>
  <button class="control--select--button" type="button" data-value="{{ selected.id }}">
    <span class="control--select--button-inner">{{ selected.option }}</span>
  </button>
  <input type="hidden" class="control--select--input" id="{{ id }}" value="{{ selected.id }}" data-prev-value="{{ selected.id }}">
</div>
